<template>
  <div class="hello">
    <!-- Page Preloder -->
    <!-- <div id="preloder">
      <div class="loader"></div>
    </div>-->

    <!-- Hero Section Begin -->
    <section class="hero-section">
      <client-only>
        <!-- important to add client-only-->
        <carousel
          :controls="true"
          :autoplay="true"
          :nav="false"
          :items="1"
          class="hero-items"
          :options="carouselOptions"
        >
          <div
            class="single-hero-items set-bg"
            v-bind:style="{ 'background-image': 'url('+hero1+')' }"
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <span>Bag,kids</span>
                  <h1>Black friday</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore
                  </p>
                  <a href="#" class="primary-btn">Shop Now</a>
                </div>
              </div>
              <div class="off-card">
                <h2>
                  Sale
                  <span>50%</span>
                </h2>
              </div>
            </div>
          </div>
          <div
            class="single-hero-items set-bg"
            v-bind:style="{ 'background-image': 'url('+hero2+')' }"
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <span>Bag,kids</span>
                  <h1>Black friday</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore
                  </p>
                  <a href="#" class="primary-btn">Shop Now</a>
                </div>
              </div>
              <div class="off-card">
                <h2>
                  Sale
                  <span>50%</span>
                </h2>
              </div>
            </div>
          </div>
        </carousel>
      </client-only>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <div class="banner-section spad">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4">
            <div class="single-banner">
              <img src="~/assets/img/banner-1.jpg" alt />
              <div class="inner-text">
                <h4>Men’s</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-banner">
              <img src="~/assets/img/banner-2.jpg" alt />
              <div class="inner-text">
                <h4>Women’s</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-banner">
              <img src="~/assets/img/banner-3.jpg" alt />
              <div class="inner-text">
                <h4>Kid’s</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Section End -->

    <!-- Women Banner Section Begin -->
    <section class="women-banner spad">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3">
            <div
              class="product-large set-bg"
              v-bind:style="{ 'background-image': 'url('+image+')' }"
            >
              <h2>Women’s</h2>
              <a href="#">Discover More</a>
            </div>
          </div>
          <div class="col-lg-8 offset-lg-1">
            <div class="filter-control">
              <ul>
                <li class="active">Clothings</li>
                <li>HandBag</li>
                <li>Shoes</li>
                <li>Accessories</li>
              </ul>
            </div>

            <client-only>
              <carousel class="product-slider" :autoplay="true" :nav="false">
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="~/assets/img/products/women-1.jpg" alt />
                    <div class="sale">Sale</div>
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#">
                          <i class="icon_bag_alt"></i>
                        </a>
                      </li>
                      <li class="quick-view">
                        <a href="#">+ Quick View</a>
                      </li>
                      <li class="w-icon">
                        <a href="#">
                          <i class="fa fa-random"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Coat</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">
                      $14.00
                      <span>$35.00</span>
                    </div>
                  </div>
                </div>
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="~/assets/img/products/women-2.jpg" alt />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#">
                          <i class="icon_bag_alt"></i>
                        </a>
                      </li>
                      <li class="quick-view">
                        <a href="#">+ Quick View</a>
                      </li>
                      <li class="w-icon">
                        <a href="#">
                          <i class="fa fa-random"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Shoes</div>
                    <a href="#">
                      <h5>Guangzhou sweater</h5>
                    </a>
                    <div class="product-price">$13.00</div>
                  </div>
                </div>
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="~/assets/img/products/women-3.jpg" alt />
                    <div class="icon">
                      <i class="icon_heart_alt">Text button</i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#">
                          <i class="icon_bag_alt"></i>
                        </a>
                      </li>
                      <li class="quick-view">
                        <a href="#">+ Quick View</a>
                      </li>
                      <li class="w-icon">
                        <a href="#">
                          <i class="fa fa-random"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="~/assets/img/products/women-4.jpg" alt />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#">
                          <i class="icon_bag_alt"></i>
                        </a>
                      </li>
                      <li class="quick-view">
                        <a href="#">+ Quick View</a>
                      </li>
                      <li class="w-icon">
                        <a href="#">
                          <i class="fa fa-random"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Converse Shoes</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
              </carousel>
            </client-only>
            <!-- <div class="product-slider owl-carousel">
              <div class="product-item">
                <div class="pi-pic">
                  <img src="~/assets/img/products/women-1.jpg" alt />
                  <div class="sale">Sale</div>
                  <div class="icon">
                    <i class="icon_heart_alt"></i>
                  </div>
                  <ul>
                    <li class="w-icon active">
                      <a href="#">
                        <i class="icon_bag_alt"></i>
                      </a>
                    </li>
                    <li class="quick-view">
                      <a href="#">+ Quick View</a>
                    </li>
                    <li class="w-icon">
                      <a href="#">
                        <i class="fa fa-random"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="pi-text">
                  <div class="catagory-name">Coat</div>
                  <a href="#">
                    <h5>Pure Pineapple</h5>
                  </a>
                  <div class="product-price">
                    $14.00
                    <span>$35.00</span>
                  </div>
                </div>
              </div>
              <div class="product-item">
                <div class="pi-pic">
                  <img src="~/assets/img/products/women-2.jpg" alt />
                  <div class="icon">
                    <i class="icon_heart_alt"></i>
                  </div>
                  <ul>
                    <li class="w-icon active">
                      <a href="#">
                        <i class="icon_bag_alt"></i>
                      </a>
                    </li>
                    <li class="quick-view">
                      <a href="#">+ Quick View</a>
                    </li>
                    <li class="w-icon">
                      <a href="#">
                        <i class="fa fa-random"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="pi-text">
                  <div class="catagory-name">Shoes</div>
                  <a href="#">
                    <h5>Guangzhou sweater</h5>
                  </a>
                  <div class="product-price">$13.00</div>
                </div>
              </div>
              <div class="product-item">
                <div class="pi-pic">
                  <img src="~/assets/img/products/women-3.jpg" alt />
                  <div class="icon">
                    <i class="icon_heart_alt">Text button</i>
                  </div>
                  <ul>
                    <li class="w-icon active">
                      <a href="#">
                        <i class="icon_bag_alt"></i>
                      </a>
                    </li>
                    <li class="quick-view">
                      <a href="#">+ Quick View</a>
                    </li>
                    <li class="w-icon">
                      <a href="#">
                        <i class="fa fa-random"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="pi-text">
                  <div class="catagory-name">Towel</div>
                  <a href="#">
                    <h5>Pure Pineapple</h5>
                  </a>
                  <div class="product-price">$34.00</div>
                </div>
              </div>
              <div class="product-item">
                <div class="pi-pic">
                  <img src="~/assets/img/products/women-4.jpg" alt />
                  <div class="icon">
                    <i class="icon_heart_alt"></i>
                  </div>
                  <ul>
                    <li class="w-icon active">
                      <a href="#">
                        <i class="icon_bag_alt"></i>
                      </a>
                    </li>
                    <li class="quick-view">
                      <a href="#">+ Quick View</a>
                    </li>
                    <li class="w-icon">
                      <a href="#">
                        <i class="fa fa-random"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="pi-text">
                  <div class="catagory-name">Towel</div>
                  <a href="#">
                    <h5>Converse Shoes</h5>
                  </a>
                  <div class="product-price">$34.00</div>
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </section>
    <!-- Women Banner Section End -->

    <!-- Deal Of The Week Section Begin-->
    <section
      class="deal-of-week set-bg spad"
      v-bind:style="{ 'background-image': 'url('+timeBg+')' }"
    >
      <div class="container">
        <div class="col-lg-6 text-center">
          <div class="section-title">
            <h2>Deal Of The Week</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
              <br />do ipsum dolor sit amet,
              consectetur adipisicing elit
            </p>
            <div class="product-price">
              $35.00
              <span>/ HanBag</span>
            </div>
          </div>
          <div class="countdown-timer" id="countdown">
            <div class="cd-item">
              <span>56</span>
              <p>Days</p>
            </div>
            <div class="cd-item">
              <span>12</span>
              <p>Hrs</p>
            </div>
            <div class="cd-item">
              <span>40</span>
              <p>Mins</p>
            </div>
            <div class="cd-item">
              <span>52</span>
              <p>Secs</p>
            </div>
          </div>
          <a href="#" class="primary-btn">Shop Now</a>
        </div>
      </div>
    </section>
    <!-- Deal Of The Week Section End -->

    <!-- Man Banner Section Begin -->
    <section class="man-banner spad">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <div class="filter-control">
              <ul>
                <li class="active">Clothings</li>
                <li>HandBag</li>
                <li>Shoes</li>
                <li>Accessories</li>
              </ul>
            </div>

            <client-only>
              <carousel class="product-slider" :autoplay="true" :nav="false">
                <!-- <div class="product-slider owl-carousel"> -->
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="~/assets/img/products/man-1.jpg" alt />
                    <div class="sale">Sale</div>
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#">
                          <i class="icon_bag_alt"></i>
                        </a>
                      </li>
                      <li class="quick-view">
                        <a href="#">+ Quick View</a>
                      </li>
                      <li class="w-icon">
                        <a href="#">
                          <i class="fa fa-random"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Coat</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">
                      $14.00
                      <span>$35.00</span>
                    </div>
                  </div>
                </div>
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="~/assets/img/products/man-2.jpg" alt />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#">
                          <i class="icon_bag_alt"></i>
                        </a>
                      </li>
                      <li class="quick-view">
                        <a href="#">+ Quick View</a>
                      </li>
                      <li class="w-icon">
                        <a href="#">
                          <i class="fa fa-random"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Shoes</div>
                    <a href="#">
                      <h5>Guangzhou sweater</h5>
                    </a>
                    <div class="product-price">$13.00</div>
                  </div>
                </div>
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="~/assets/img/products/man-3.jpg" alt />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#">
                          <i class="icon_bag_alt"></i>
                        </a>
                      </li>
                      <li class="quick-view">
                        <a href="#">+ Quick View</a>
                      </li>
                      <li class="w-icon">
                        <a href="#">
                          <i class="fa fa-random"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Pure Pineapple</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="~/assets/img/products/man-4.jpg" alt />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#">
                          <i class="icon_bag_alt"></i>
                        </a>
                      </li>
                      <li class="quick-view">
                        <a href="#">+ Quick View</a>
                      </li>
                      <li class="w-icon">
                        <a href="#">
                          <i class="fa fa-random"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Converse Shoes</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
                <!-- </div> -->
              </carousel>
            </client-only>
          </div>
          <div class="col-lg-3 offset-lg-1">
            <div
              class="product-large set-bg m-large"
              v-bind:style="{ 'background-image': 'url('+manLarge+')' }"
            >
              <h2>Men’s</h2>
              <a href="#">Discover More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Man Banner Section End -->

    <!-- Deal Of The Week Section Begin-->
    <section
      class="deal-of-week set-bg spad"
      v-bind:style="{ 'background-image': 'url('+timeBg+')' }"
    >
      <div class="container">
        <div class="col-lg-6 text-center">
          <div class="section-title">
            <h2>Deal Of The Week</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
              <br />do ipsum dolor sit amet,
              consectetur adipisicing elit
            </p>
            <div class="product-price">
              $35.00
              <span>/ HanBag</span>
            </div>
          </div>
          <div class="countdown-timer" id="countdown">
            <div class="cd-item">
              <span>56</span>
              <p>Days</p>
            </div>
            <div class="cd-item">
              <span>12</span>
              <p>Hrs</p>
            </div>
            <div class="cd-item">
              <span>40</span>
              <p>Mins</p>
            </div>
            <div class="cd-item">
              <span>52</span>
              <p>Secs</p>
            </div>
          </div>
          <a href="#" class="primary-btn">Shop Now</a>
        </div>
      </div>
    </section>
    <!-- Deal Of The Week Section End -->

    <!-- Kids Banner Section Begin -->
    <section class="kids-banner spad">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3">
            <div class="product-large set-bg" v-bind:style="{ 'background-image': 'url('+kid+')' }">
              <h2>Kid’s</h2>
              <a href="#">Discover More</a>
            </div>
          </div>
          <div class="col-lg-8 offset-lg-1">
            <div class="filter-control">
              <ul>
                <li class="active">Clothings</li>
                <li>HandBag</li>
                <li>Shoes</li>
                <li>Accessories</li>
              </ul>
            </div>

            <client-only>
              <carousel class="product-slider" :autoplay="true" :nav="false">
                <!-- <div class="product-slider owl-carousel"> -->
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="~/assets/img/products/kid-1.jpg" alt />
                    <div class="sale">Sale</div>
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#">
                          <i class="icon_bag_alt"></i>
                        </a>
                      </li>
                      <li class="quick-view">
                        <a href="#">+ Quick View</a>
                      </li>
                      <li class="w-icon">
                        <a href="#">
                          <i class="fa fa-random"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Coat</div>
                    <a href="#">
                      <h5>Boy</h5>
                    </a>
                    <div class="product-price">
                      $14.00
                      <span>$35.00</span>
                    </div>
                  </div>
                </div>
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="~/assets/img/products/kid-2.jpg" alt />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#">
                          <i class="icon_bag_alt"></i>
                        </a>
                      </li>
                      <li class="quick-view">
                        <a href="#">+ Quick View</a>
                      </li>
                      <li class="w-icon">
                        <a href="#">
                          <i class="fa fa-random"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Shoes</div>
                    <a href="#">
                      <h5>Girl</h5>
                    </a>
                    <div class="product-price">$13.00</div>
                  </div>
                </div>
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="~/assets/img/products/kid-3.jpg" alt />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#">
                          <i class="icon_bag_alt"></i>
                        </a>
                      </li>
                      <li class="quick-view">
                        <a href="#">+ Quick View</a>
                      </li>
                      <li class="w-icon">
                        <a href="#">
                          <i class="fa fa-random"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Gear</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
                <div class="product-item">
                  <div class="pi-pic">
                    <img src="~/assets/img/products/kid-4.jpg" alt />
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active">
                        <a href="#">
                          <i class="icon_bag_alt"></i>
                        </a>
                      </li>
                      <li class="quick-view">
                        <a href="#">+ Quick View</a>
                      </li>
                      <li class="w-icon">
                        <a href="#">
                          <i class="fa fa-random"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                      <h5>Combo & deals</h5>
                    </a>
                    <div class="product-price">$34.00</div>
                  </div>
                </div>
                <!-- </div> -->
              </carousel>
            </client-only>
          </div>
        </div>
      </div>
    </section>
    <!-- Kids Banner Section End -->

    <!-- Instagram Section Begin -->
    <div class="instagram-photo">
      <div class="insta-item set-bg" v-bind:style="{ 'background-image': 'url('+insta1+')' }">
        <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5>
            <a href="#">colorlib_Collection</a>
          </h5>
        </div>
      </div>
      <div class="insta-item set-bg" v-bind:style="{ 'background-image': 'url('+insta2+')' }">
        <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5>
            <a href="#">colorlib_Collection</a>
          </h5>
        </div>
      </div>
      <div class="insta-item set-bg" v-bind:style="{ 'background-image': 'url('+insta3+')' }">
        <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5>
            <a href="#">colorlib_Collection</a>
          </h5>
        </div>
      </div>
      <div class="insta-item set-bg" v-bind:style="{ 'background-image': 'url('+insta4+')' }">
        <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5>
            <a href="#">colorlib_Collection</a>
          </h5>
        </div>
      </div>
      <div class="insta-item set-bg" v-bind:style="{ 'background-image': 'url('+insta5+')' }">
        <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5>
            <a href="#">colorlib_Collection</a>
          </h5>
        </div>
      </div>
      <div class="insta-item set-bg" v-bind:style="{ 'background-image': 'url('+insta6+')' }">
        <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5>
            <a href="#">colorlib_Collection</a>
          </h5>
        </div>
      </div>
    </div>
    <!-- Instagram Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
      <div class="container">
        <div class="logo-carousel owl-carousel">
          <div class="logo-item">
            <div class="tablecell-inner">
              <img src="~/assets/img/logo-carousel/logo-1.png" alt />
            </div>
          </div>
          <div class="logo-item">
            <div class="tablecell-inner">
              <img src="~/assets/img/logo-carousel/logo-2.png" alt />
            </div>
          </div>
          <div class="logo-item">
            <div class="tablecell-inner">
              <img src="~/assets/img/logo-carousel/logo-3.png" alt />
            </div>
          </div>
          <div class="logo-item">
            <div class="tablecell-inner">
              <img src="~/assets/img/logo-carousel/logo-4.png" alt />
            </div>
          </div>
          <div class="logo-item">
            <div class="tablecell-inner">
              <img src="~/assets/img/logo-carousel/logo-5.png" alt />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Partner Logo Section End -->
  </div>
</template>

<script>
export default {
  data: () => ({
    publicPath: process.env.BASE_URL,
    image: require("@/assets/img/products/women-large.jpg"),
    kid: require("@/assets/img/products/kid-large.jpg"),
    insta1: require("@/assets/img/insta-1.jpg"),
    insta2: require("@/assets/img/insta-2.jpg"),
    insta3: require("@/assets/img/insta-3.jpg"),
    insta4: require("@/assets/img/insta-4.jpg"),
    insta5: require("@/assets/img/insta-5.jpg"),
    insta6: require("@/assets/img/insta-6.jpg"),
    hero1: require("@/assets/img/hero-1.jpg"),
    hero2: require("@/assets/img/hero-2.jpg"),
    timeBg: require("@/assets/img/time-bg.jpg"),
    manLarge: require("@/assets/img/products/man-large.jpg"),
    carouselOptions: {
      loop: true,
      margin: 0,
      nav: true,
      items: 1,
      dots: false,
      animateOut: "fadeOut",
      animateIn: "fadeIn",
      navText: [
        '<i class="ti-angle-left"></i>',
        '<i class="ti-angle-right"></i>'
      ],
      smartSpeed: 1200,
      autoHeight: false,
      autoplay: true
    },
    categoryOptions: {
      loop: true,
      margin: 20
    }
  }),
  mounted() {
  },
  methods: {
    // applyCarousel() {
    //   $(".hero-items").owlCarousel({
    //     loop: true,
    //     margin: 0,
    //     nav: true,
    //     items: 1,
    //     dots: false,
    //     animateOut: "fadeOut",
    //     animateIn: "fadeIn",
    //     navText: [
    //       '<i class="ti-angle-left"></i>',
    //       '<i class="ti-angle-right"></i>'
    //     ],
    //     smartSpeed: 1200,
    //     autoHeight: false,
    //     autoplay: true
    //   });
    //   $(".product-slider").owlCarousel({
    //     loop: true,
    //     margin: 25,
    //     nav: true,
    //     items: 4,
    //     dots: true,
    //     navText: [
    //       '<i class="ti-angle-left"></i>',
    //       '<i class="ti-angle-right"></i>'
    //     ],
    //     smartSpeed: 1200,
    //     autoHeight: false,
    //     autoplay: true,
    //     responsive: {
    //       0: {
    //         items: 1
    //       },
    //       576: {
    //         items: 2
    //       },
    //       992: {
    //         items: 2
    //       },
    //       1200: {
    //         items: 3
    //       }
    //     }
    //   });
    // }
  },
  components: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.product-item {
  margin: 13px;
}
</style>
